@charset "utf-8";


.color01{}
.color02{}
.color03{}

.color04{color: #980000;}
.color05{}
.color06{color: #f1ea34;}

.color07{color: #5bc2ac;}
.color08{
  color: #fff;
  border: 1px solid #ccc;
}
.color09{color: #499684;}

.color10{}
.color11{}
.color12{}

/* -------------------------------intro 영역------------------------------- */
#intro {
  text-align: center;
}
#intro h3{
  display: none;
}
#intro img{
  position: absolute;
  top: 270px; left: 50%;
  transform: translateX(-50%);
  z-index:10;
}
#intro i{
  color: rgb(65,127,100);
  font-size: 50px;
  position: absolute;
  bottom: 200px;
  animation: motion 2s infinite;
}

@keyframes motion{
  0% {bottom: 200px;}
  50% {bottom: 190px;}
  100% {bottom: 200px;}
}

/* ------------------------ publishing 영역------------------------------------- */


#publishing > h3 {
  padding-top: 120px;
} 

.statice01, .statice02, .statice03, .statice04{
  position: absolute;
  opacity: 0;
}
.statice01{
  transform: scaleX(-1) rotate(-25deg);
  left: -323px;
  bottom: -430px;
}
.statice02{
  width: 600px;
  left: 484px;
  bottom: -346px;
  transform: scaleX(-1);
}
.statice03{
  right: -347px;
  bottom: -355px;
  transform: rotate(-25deg);
}
.statice04{
  width: 700px;
  right: 285px;
  bottom: -356px;
}

/* -------------------- work gallery 영역----------------------------- */

#work > h3 {
  padding-top: 135px;
} 

/* -------------------------profile 영역---------------------------- */

#profile{
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
}
#profile > h3{
  padding-top: 140px;
  font-family: 'Playfair Display'
}
#profile img{
  position: absolute;
}
.daisy01{
  width: 50px; 
  top: 130px; left: 820px;
  animation: daisy 7s infinite;
}
.daisy02{
  width: 50px; 
  top: 130px; right: 820px;
  animation: daisy 5s infinite;
}
.daisy03, .daisy04, .daisy05, .daisy06{
  width: 30px; 
  top: 16px; left:13px;
}

@keyframes daisy{
  100%{transform: rotate(360deg);}
}

.pro_pic{
  height: 500px;
  left: 115px;
}

.p_con1{
  width: 530px;
  height: 212px;
  background-color: rgb(227, 227, 227);
  position: relative;
  top: 500px;
  left: 80px;
  border-radius: 10px;
}

.p1_01{
  padding-left: 50px;
}
.p1_01 p:first-of-type{
  margin-top: -20px;
  padding-bottom: 15px;
}

.p_con2{
  width: 1152px;
  position: absolute;
  right: 100px; top: 250px;
  display: flex;
  flex-wrap: wrap;
  text-indent: 50px;
}

.p1_01 h4, .p_con2 h4{
  line-height: 40px;
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.p1_01 p, .p_con2 p{
  font-size: 14px;
  line-height: 25px;
}

.p2_01, .p2_02{
  width: 530px; height: 170px;
  margin: 20px; 
  background-color: rgb(227, 227, 227);
  position: relative;
  border-radius: 10px;
}


.p2_03{
  width: 1100px; height: 400px;
  margin:20px;
  position: relative;
  background-color: rgb(227, 227, 227);
  position: relative;
  border-radius: 10px;
}


/*------------------------- contact 메일 영역 -------------------------- */


#contact h3{
  display: none;
}

.mail{
  position: relative;
  width: 600px; height: 700px;
  border: 2px solid #ccc;
  top: 52%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 555555;
}

.mail h4{
  position: absolute;
  width: 600px; height: 50px;
  background-color: rgb(219, 219, 219);
  top: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  text-align: center; 
  font-size: 16px;
  line-height: 50px; 
}

.mail p:first-of-type, .mail p:nth-of-type(2), .mail p:last-of-type{
  position: absolute;
  right: 10px;
  width: 300px;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 10px;
  background-color: #1982FC;
  border-radius: 20px;
}

.mail p:first-of-type{
  width: 156px;
  top: 70px; 
}

.mail p:nth-of-type(2){
  width: 238px;
  top: 110px;
}

.mail p:last-of-type{
  width: 225px;
  top: 151px;
}

input { 
  -webkit-appearance : none;
  -moz-appearance: none;
  appearance: none;
}

.mail form{
  position: absolute;
  top:350px; left: 20px;
}

fieldset legend , .field label{display: none;}

#name, #email, #message, .send{
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 18px;
  position: absolute;
  width: 300px;
}

#name{
  bottom: 50px;
}
#email{
  bottom: -1px;
}
#message{
  bottom: -230px;
  height: 200px;  
}

.send{
  bottom: -315px;
  left: 240px;
  width: 100px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  background-color: #43CC47;
  color: #333;
  cursor: pointer;
}

.peony01, .peony02, .peony03{position: absolute;}

.peony01{
  transform: rotate(25deg);
  width: 850px;
  bottom: -575px; left: -280px;
}

.peony02{
  width: 600px;
  bottom: -400px; left: 200px;
  transform: rotate(15deg);
}
.peony03{
  width: 1160px;
  transform: rotate(-25deg);
  bottom: -775px;
  right: -300px;
}
