@charset "utf-8";


.p_detail{
  width: 25%;
  position: absolute;
  left: 20px;
  text-align: right;
}

.p_detail p{
  margin-bottom: 25px;
}

.p_graph{
  position: absolute;
  width: 60%;
  right: 125px;
}

.graph{
  height: 30px; 
  background: #ccc; 
  border-radius: 40px; 
  margin-bottom: 20px;
}
.graph span:first-child{ 
  display: block; 
  height: 30px; 
  color: #fff;
  line-height: 30px; 
  border-radius: 40px;
  box-sizing: border-box;
}

.stack1 span:first-child{
  width: 80%;
  animation: stack01 2s 1; 
  background-color: #0000FF;
}

.stack2 span:first-child{
  width: 70%;
  animation: stack02 2s 1;
  background-color: #601dac;
}

.stack3 span:first-child{
  width: 80%;
  animation: stack03 2s 1;
  background-color: #f7d52a;
}

.stack4 span:first-child{
  width: 85%;
  animation: stack04 2s 1;
  background-color: #d14291;
}
.stack5 span:first-child{
  width: 85%;
  animation: stack05 2s 1;
  background-color: rgb(220, 5, 5);
}
.stack6 span:first-child{
  width: 90%;
  animation: stack06 2s 1;
  background-color: #333;
}

@keyframes stack01{
  0%{width: 0; color: rgba(255,255,255,0);}
  100%{width: 80%; color: rgba(255,255,255,1);}
}
@keyframes stack02{
  0%{width: 0; color: rgba(255,255,255,0);}
  100%{width: 70%; color: rgba(255,255,255,1);}
}
@keyframes stack03{
  0%{width: 0; color: rgba(255,255,255,0);}
  100%{width: 80%; color: rgba(255,255,255,1);}
}
@keyframes stack04{
  0%{width: 0; color: rgba(255,255,255,0);}
  100%{width: 85%; color: rgba(255,255,255,1);}
}
@keyframes stack05{
  0%{width: 0; color: rgba(255,255,255,0);}
  100%{width: 85%; color: rgba(255,255,255,1);}
}
@keyframes stack06{
  0%{width: 0; color: rgba(255,255,255,0);}
  100%{width: 90%; color: rgba(255,255,255,1);}
}

.graph span:nth-child(2), .graph span:last-child{
  position: absolute;
  margin-top: -23px;
  line-height: 15px;
}
.graph span:nth-child(2){
  left: -5px;
  color: #fff;
}
.graph span:last-child{
  right: 20px;
  color: 333;
}