@charset "utf-8";



/* 갤러리서식 */

.work_g{
  background-color: rgb(29, 29, 29);
  width: 1500px; height: 600px;
  margin: 0px auto;
  margin-top: 80px;
  position: relative;
}

.work_g > li{
  transition: 1s;
  overflow:hidden;
  opacity: 0.2;
  /* cursor: pointer; */
  cursor:pointer;
}

.work_g > li:hover{
  opacity: 1;
}

.work_g li:first-child{
  position: absolute;
  background: #f00;
  top: 20px; left: 340px;
  width: 760px; height: 180px;
  overflow: hidden;
}
.work_g li:first-child img{
  width: 100%;
  transform: translatey(-177px);
}

.work_g li:nth-child(2){
  position: absolute;
  background: #ff0;
  height: 180px; width: 360px;
  right: 20px; top: 20px;
  overflow: hidden;
}
.work_g li:nth-child(2) img{
  height: 100%; width: 100%;
}
.work_g li:nth-child(3){
  position:absolute;
  background: #ff0;
  height: 560px; width: 300px;
  top: 20px; left: 20px;
  overflow: hidden;
}
.work_g li:nth-child(3) img{
  height: 100%;
  transform: translateX(-50px);
}

.work_g li:nth-child(4){
  position: absolute;
  background: #ff0;
  height: 160px; width: 560px;
  bottom: 20px; left: 340px;
  overflow: hidden;
}

.work_g li:nth-child(4) img{
  width: 100%;
  transform: translateY(-10px);
}


.work_g li:nth-child(5){
  position: absolute;
  background: #ff0;
  height: 180px;
  width: 1140px;
  right: 20px;
  top: 220px;
}

.work_g li:nth-child(5) img{
  width: 100%;
  transform: translateY(-85px);
}

.work_g li:last-child{
  position: absolute;
  background: #ff0;
  height: 160px; width: 560px;
  bottom: 20px; right: 20px;
}

.work_g li:last-child img{
  width: 100%;
  transform: translateY(-55px);
}


/* 모달창서식 */

.modal{
  display: none;
  width: 100%; height: 100%;
  position: fixed; 
  top: 0px; left: 0px;
  background-color: rgba(0,0,0,.5);
  z-index: 555555;
}

.m_box{
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px; height: 800px;
  text-align: center;
  overflow: hidden;
}

.m_box img{
  max-width: 1200px; max-height: 800px;
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  
}

.modal i.fas{
  display: block;
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}