@charset "utf-8";



/* 갤러리서식 */

.work_g{
  background-color: rgb(29, 29, 29);
  width: 1000px; height: 600px;
  margin: 0px auto;
  margin-top: 80px;
  padding: 10px;
  grid-gap: 10px;
  box-sizing:border-box;
  display: grid;
  overflow:hidden;
  grid-template-areas:
    "gogung gogung disney"
    "mickey pattern pattern"
    "mickey uiux fiar";
}

.work_g > li{
  transition: 1s;
  overflow:hidden;
  opacity: 0.2;
  cursor: pointer;
}

.work_g > li:hover{
  opacity: 1;
}

.work_g > li img{
  object-fit: cover;
  width: 100%;
  /* display:none; */
}

.work_g > li:first-child img{
  transform: translateY(-120px);
}
.work_g > li:nth-child(3) img{
  height: 100%;
}

.work_g > li:nth-child(4) img{
  width: 300%;
  transform: translate(-70px, -118px);
}

.work_g > li:nth-child(5) img{
  width: 200%;
  transform: translate(-110px, -105px);
}

.work_g > li:last-child img{
  height: 150%;
  transform: translateY(-34px);
}

.item01{grid-area:gogung;}
.item02{grid-area:disney;}
.item03{grid-area:mickey;}
.item04{grid-area:uiux}
.item05{grid-area:pattern;}
.item06{grid-area:fiar;}


/* 모달창서식 */

.modal{
  display: none;
  width: 100%; height: 100%;
  position: absolute; 
  top: 0px; left: 0px;
  background-color: rgba(0,0,0,.5);
  z-index: 5555;
}

.modal_box{
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; height: 800px;
  text-align: center;
}

.modal_box img{
  max-width: 600px; max-height: 800px;
  z-index: 55555;
}

.modal i.fas{
  display: block;
  padding: 5px;
  position: absolute;
  top: 150px;
  right: 200px;
  color: #fff;
  font-size: 35px;
}